.RocketContainer {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1rem;
  margin: 0 5%;
  align-items: end;
}

.RocketsContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

img {
  width: 100%;
  padding-top: 1.5rem;
}

.ReserveRocket {
  background-color: rgb(0, 123, 255);
  padding: 10px;
  border: 0;
  color: white;
  border-radius: 5px;
}

.CancelReservation {
  background-color: white;
  border: 1px solid darkgray;
  color: darkgray;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.ReservedBadge {
  background-color: rgb(24, 162, 184);
  color: white;
  padding: 2px;
  border-radius: 5px;
  font-weight: bold;
}
