.logo {
  width: 3rem;
  height: 3rem;
  margin-right: 1.3rem;
}

.NavLinkActive {
  text-decoration: underline;
}

.NavLinkInactive {
  text-decoration: none;
}

.LogoAndTitle {
  display: flex;
  align-items: center;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  border-bottom: 1px solid gray;
}

.Nav {
  display: flex;
  gap: 1.5rem;
}
